<form nz-form class="ant-advanced-search-form">
    <div nz-row [nzGutter]="8">
        <div nz-form-item>
            <div nz-form-label nz-col [nzSpan]="1">
                <label>用户名</label>
            </div>
            <div nz-col [nzSpan]="3" >
                <nz-input [(ngModel)]="username" name="username"></nz-input>
            </div>

            <div nz-col [nzSpan]="3">
                <button nz-button [nzType]="'primary'" (click)="page.number=1;search();">
                    <span>查询</span>
                </button>
            </div> 
        </div>
    </div>
</form>
<nz-table #nzTable [nzAjaxData]="page.content" [(nzPageSize)]="page.size" [(nzPageIndex)]="page.number" [nzTotal]="page.totalElements" [nzShowTotal]="true" [nzShowSizeChanger]="true"
     (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange()">
    <thead nz-thead>
      <tr>
        <th nz-th><span>用户名</span></th>
        <th nz-th><span>年龄</span></th>
        <th nz-th><span>生日</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.username}}</td>
        <td nz-td>{{data.age}}</td>
        <td nz-td>{{data.birthday | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td nz-td>
          
        </td>
      </tr>
    </tbody>
</nz-table>
