<nz-layout style="height:100%">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
            <li nz-submenu>
              <span title><i class="anticon anticon-user"></i><span class="nav-text">系统管理</span></span>
              <ul>
                <li nz-menu-item routerLink="/user">用户管理</li>
                <li nz-menu-item routerLink="/hero">权限管理</li>
                <li nz-menu-item>Alex</li>
              </ul>
            </li>
            <li nz-submenu>
              <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
              <ul>
                <li nz-menu-item>Team 1</li>
                <li nz-menu-item>Team 2</li>
                <li nz-submenu>
                    <span title>Team 3</span>
                    <ul>
                        <li nz-menu-item>Team 3-1</li>
                        <li nz-menu-item>Team 3-2</li>
                    </ul>
                </li>
              </ul>
            </li>
            <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
        </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div style="padding:24px; background: #fff; min-height: 750px;">
            <i class="anticon trigger" style="cursor:pointer" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
            <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>

